.table {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

.sortable {
  cursor: pointer;
}

.sortable:hover {
  transform: scale(1.1);
}
